{% extends "layouts/lay1col.html" %}
{% load i18n %}
{% load markup %}
{% load truncate_characters %}
{% load thumbnail %}

{% block body_class %}{{ block.super }} homepage{% endblock %}
    
{% block main_upper %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum molestie semper nulla et ornare. Phasellus
        porta lobortis est, eget faucibus nunc rutrum vitae. Vivamus iaculis aliquet metus, sed molestie mauris mattis
        non.
    </p>
{% endblock %}    

{% block main_col1 %}
    <div id="map_filter">
        <form action="." method="GET">
            {% if request.user.is_authenticated %}
                <div class="map-filter-item">
                    <p class="map-filter-title">Subscription</p>
                    <p class="checkbox-wrapper">
                        <input class="subscription-checkbox" type="checkbox" name="my_subscribed_locations" id="my_subscribed_locations"> {% trans "Mine" %}
                    </p>
                </div>
            {% endif %}
            <div class="map-filter-item">
                <p class="map-filter-title">{% trans "Chlorine Levels" %}</p>
                <p class="checkbox-wrapper">
                    <input class="chlorine-level-checkbox" type="checkbox" name="chlorine_level_zero" id="chlorine_level_none"> <span>0.0%</span>
                </p>
                <p class="checkbox-wrapper">
                    <input class="chlorine-level-checkbox"  type="checkbox" name="chlorine_level_low" id="chlorine_level_low"> <span>&gt; 0.0% &lt; 0.5%</span>
                </p>
                <p class="checkbox-wrapper">
                    <input class="chlorine-level-checkbox"  type="checkbox" name="chlorine_level_pass" id="chlorine_level_pass"> <span>&ge; 0.5% &le; 1.9%</span>
                </p>
                <p class="checkbox-wrapper">
                    <input class="chlorine-level-checkbox"  type="checkbox" name="chlorine_level_high" id="chlorine_level_high"> <span>&ge; 2.0%</span>
                </p>
            </div>
            <div class="map-filter-item">
                <p class="map-filter-title">{% trans "Source Type" %}</p>
                {% for water_source_type in water_source_types %}
                    <p class=checkbox-wrapper>
                        <input class="source-type-checkbox" type="checkbox" name="water_source_type_{{ water_source_type.id }}" id="water_source_type_{{ water_source_type.id }}"> {{ water_source_type.title|truncate_characters:18 }}
                    </p>
                {% endfor %}
            </div>
            <div class="map-filter-item">
                <p class="map-filter-title">Community</p>
                {% for community in communities %}
                    <p class="checkbox-wrapper">
                        <input class="community-checkbox" type="checkbox" name="community_{{ community.id }}" id="community_{{ community.id }}"> {{ community.title|title|truncate_characters:18 }}
                    </p>
                {% endfor %}
            </div>
            <div class="map-filter-item">
                <p class="map-filter-title">{% trans "Provider" %}</p>
                {% for provider in providers %}
                    <p class="checkbox-wrapper">
                        <input class="provider-checkbox" type="checkbox" name="provider_{{ provider.id }}" id="provider_{{ provider.id }}"> {{ provider.title|title|truncate_characters:18 }}
                    </p>
                {% endfor %}
            </div>
        </form>
    </div>
    <div class="clearfix" id="map_canvas"></div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&sensor=false"></script>
    <script type="text/javascript">
        function initialize_gmap() {
            var myOptions = {
                center: new google.maps.LatLng(18.585607, -72.305665),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            return map;
        }

        $(document).ready(function() {
            gmap = initialize_gmap();
            kmlLayer = new google.maps.KmlLayer("http://{{ current_site.domain }}{% url homepage_kml %}?auth={{ request.user.is_authenticated }}",
                { preserveViewport: true }
            );
            kmlLayer.setMap(gmap);

            $(".map-filter-item input[type='checkbox']").click(function() {
                kmlLayer.setMap(null);

                var checked_name_attributes = []
                $(".map-filter-item input[type='checkbox']:checked").each(function(index) {
                    checked_name_attributes.push(encodeURIComponent($(this).attr('name')));
                });
                var map_filters = checked_name_attributes.join("&");
                kmlLayer = new google.maps.KmlLayer("http://{{ current_site.domain }}{% url homepage_kml %}?killcache=" + (new Date()).getTime() + "&auth={{ request.user.is_authenticated }}&ruid={{ request.user.id }}&" + map_filters,
                    { preserveViewport: true }
                );
                kmlLayer.setMap(gmap);
            });
        });
    </script>
{% endblock %}