{% extends "layouts/lay2col.html" %}
{% load i18n %}
{% load custom_filters %}
{% load thumbnail %}
{% load markup %}

{% block body_class %}{{ block.super }} location{% endblock %}

{% block main_upper %}
    <div class="location-wrapper">
        <div class="location-col1">
            <div class="location-image-wrapper">
                <div class="image">
                    {% if location.image %}
                        <img src="{% thumbnail location.image 355x200 crop='smart' %}" /></div>
                    {% else %}
                        <img src="{{ STATIC_URL }}image/location-default.png" /></div>
                    {% endif %}
            </div>
        </div>
        <div class="location-col2 clearfix">
            <div class="subscription">
                <div class="location-subscription-toggle">
                    <a id="location-subscription" href="#">
                        {% if user_is_subscribed %}{% trans "Unsubscribe" %}{% else %}{% trans "Subscribe" %}{% endif %}
                    </a>
                </div>
                <div id="location-subscription-form-wrapper" style="display:none;">
                    <form id="location-subscription-form" action="." method="POST">
                        <p>
                            <label>{% trans "Email:" %}</label>
                            <select class="email-subscribe" name="email_subscription">
                                <option value="none">{% trans "None" %}</option>
                                <option value="immediate">{% trans "Immediate" %}</option>
                                <option value="daily" selected="selected">{% trans "Daily" %}</option>
                                <option value="weekly">{% trans "Weekly" %}</option>
                            </select>
                        </p>
                        <p>
                            <input type="checkbox" class="phone_subscription" name="phone_subscription" checked="checked"> {% trans "SMS Alert" %}
                        </p>
                        <p class="form-submit-button-wrapper">
                            <input class="form-submit-button" type="submit" value="{% trans 'Submit' %}">
                        </p>
                    </form>
                </div>
            </div>
            <h1 class="title">{{ location.title }}</h1>
            <table class="details">
                <tr>
                    <td class="label">{% trans "ID:" %}</td>
                    <td class="value">{{ location.uid }}</td>
                </tr>
                {% if latest_water_quality_location_post %}
                <tr>
                    <td class="label">{% trans "Chlorine Level:" %}</td>
                    <td class="value">{{ latest_water_quality_location_post.chlorine_level }}%</td>
                </tr>
                <tr>
                    <td class="label">{% trans "Test Date:" %}</td>
                    <td class="value">{{ latest_water_quality_location_post.published_date|date:"Y.m.d" }}</td>
                </tr>
                {% endif %}
                {% if location.latitude %}
                    <tr>
                        <td class="label">{% trans "Latitude:" %}</td>
                        <td class="value">{{ location.latitude|floatformat:6 }}</td>
                    </tr>
                {% endif %}
                {% if location.longitude %}
                    <tr>
                        <td class="label">{% trans "Longitude:" %}</td>
                        <td class="value">{{ location.longitude|floatformat:6 }}</td>
                    </tr>
                {% endif %}
            </table>
            <div class="content">{% if location.content %}{{ location.content|markdown }}{% endif %}</div>
        </div>
    </div>
    <div id="water-quality-chart-container"></div>
{% endblock %}

{% block main_col1 %}
    <div class="posts-wrapper">
        <p>{% trans "Updates" %}</p>
        <table>
            <tbody>
                {% for location_post in location_posts %}
                    <tr class="post {% cycle 'odd' 'even' %}">
                        <td>
                            <a href="{{ location_post.user.get_profile.get_absolute_url }}">{{ location_post.user.get_profile.mobile }}</a><br />
                            {{ location_post.content|markdown }}
                            {% if location_post.chlorine_level %}
                                <div class="chlorine-level">{% trans "Chlorine level:" %} {{ location_post.chlorine_level }}%</div>
                             {% endif %}
                        </td>
                        <td class="published-date">{{ location_post.published_date|custom_timesince }} {% trans "ago" %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block main_col3 %}
    <div class="subscriptions-wrapper">
        <p>{% trans "Subscribers" %} ({{ location_subscriptions.count }}) ** = {% trans "Digest" %}</p>
        <table>
            <tbody>
            {% for location_subscription in location_subscriptions %}
                <tr class="subscription {% cycle 'odd' 'even' %}">
                    <td>
                        {% if location_subscription.email_subscription %}
                            {% if location_subscription.email_subscription == location_subscription.EMAIL_DAILY_FREQ or location_subscription.email_subscription == location_subscription.EMAIL_WEEKLY_FREQ %}
                                **
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if location_subscription.phone_subscription %}
                            +{{ location_subscription.user.get_profile.mobile|phone2numeric }}
                        {% else %}
                            {% if location_subscription.email_subscription %}
                                {{ location_subscription.user.email }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer_js %}
     <script type="text/javascript" src="{{ STATIC_URL }}js/libs/highcharts/highcharts.js"></script>
     <script type="text/javascript">
         $(document).ready(function() {
             // Initial notify plugin
             $("#notify-wrapper").notify();

             function location_subscribe_ajax(submitted_data) {
                 $.ajax({
                     url: "/location/subscribe/",
                     type: "POST",
                     data: submitted_data,
                     dataType: 'json',
                     cache: false,
                     success: function(data, textStatus, jqXHR) {
                         if (data['success']) {
                             if ($("#location-subscription").text().indexOf("{% trans 'Unsubscribe' %}") == -1) {
                                  $("#location-subscription").text("{% trans 'Unsubscribe' %}");
                              } else {
                                  $("#location-subscription").text("{% trans 'Subscribe' %}");
                              }
                         }
                         else {
                             var err_message = '';
                             $.each(data['errors'], function(key, value) {
                                 if (key && value) { err_message += key + ": " + value + "\n"; }
                             });
                             $("#notify-wrapper").notify("create",
                                 "notify-basic-template",
                                 {
                                     title: '{% trans "Error" %}',
                                     text: err_message
                                 },
                                 {
                                     expires: false
                                 }
                             );
                         }
                     },
                     error: function(jqXHR, textStatus, errorThrown) {
                         alert('{% trans "Error" %} ' + errorThrown);
                     }
                 });
             }

             $("#location-subscription").on("click", function(event) {
                 event.preventDefault();
                 var submitted_data = {
                     user_id : "{{ request.user.id }}",
                     location_id : "{{ location.id }}",
                     email_subscription : "{{ location_subscription_email_default_value }}",
                     phone_subscription : true,
                     subscribe : $(this).text().indexOf("{% trans 'Unsubscribe' %}") == -1
                 }
                 if ($(this).text().indexOf("{% trans 'Unsubscribe' %}") != -1) {
                     var timeoutID = setTimeout(function() {location_subscribe_ajax(submitted_data)}, 500);
                 }
                 else {
                     $("#location-subscription-form-wrapper").slideToggle();
                 }
             });

             $("#location-subscription-form").submit(function(event) {
                 event.preventDefault();
                 var submitted_data = {
                     user_id : "{{ request.user.id }}",
                     location_id : "{{ location.id }}",
                     email_subscription : $(".email-subscribe").val(),
                     phone_subscription : $(".phone_subscription").is(':checked'),
                     subscribe : $(this).text().indexOf("{% trans 'Unsubscribe' %}") == -1
                 }
                 if (submitted_data.email_subscription == 'none' && submitted_data.phone_subscription == false && submitted_data.subscribe == true) {
                     alert('{% trans "Please select Email and/or SMS alerts." %}');
                 }
                 else {
                     var timeoutID = setTimeout(function() {location_subscribe_ajax(submitted_data)}, 500);
                     $("#location-subscription-form-wrapper").slideToggle();
                 }
             });

             {% if water_quality_location_posts %}
                // Highcharts Location Chlorine Levels
                var chart;
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'water-quality-chart-container',
                        marginRight: 130,
                        marginBottom: 35,
                        zoomType: 'xy'
                    },
                    title: {
                        text: '{% trans "Water Quality Report" %}',
                        x: -20 //center
                    },
                    subtitle: {
                        text: '{% trans "Chlorine Levels" %}',
                        x: -20
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            month: '%e. %b',
                            year: '%b'
                        },
                        title: {
                            text: '{% trans "Date" %}'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '{% trans "Chlorine Level (%)" %}',
                        y: -20
                    }
                    },
                    tooltip: {
                        formatter: function() {
                            return ''+
                            Highcharts.dateFormat('%Y.%m.%d', this.x) +': <strong>'+ this.y +'%</strong>';
                    }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -10,
                        y: 100,
                        borderWidth: 0
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            }
                        },
                        line: {
                            dashStyle: 'ShortDash'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: '{% trans "Daily" %}',
                        type: 'scatter',
                        marker: {
                            radius: 5
                        },
                        data: [
                            {% for water_quality_location_post in water_quality_location_posts %}
                                [Date.UTC({{ water_quality_location_post.published_date|date:"Y" }},{{ water_quality_location_post.published_date|date:"m" }},{{ water_quality_location_post.published_date|date:"d" }}), {{ water_quality_location_post.chlorine_level }}]{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]
                    },
                    {
                        name: '{% trans "Global Avg." %}',
                        type: 'line',
                        data: [
                            {% for site_data in site_wide_chlorine_averages %}
                                [Date.UTC({{ site_data.date|date:"Y" }}, {{ site_data.date|date:"m"}}, {{ site_data.date|date:"d" }}), {{ site_data.avg }}]{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]
                    }]
                });
            {% endif %}
         });
     </script>
{% endblock %}