@media (min-width: 980px) {

}

@media (max-width: 979px) {
  .container { width: auto; }

  /* Layouts */
  .lay3col #main .main-col2 { float: none; max-width: 510px; margin: auto; width: auto; }
  .lay3col #main .main-col3, .lay2col #main .main-col3 { display: none; }
  .lay2col #main .main-col1 { display: block; float: none; margin: auto; width: auto;}
  .lay3col.recent-posts #main .main-col1 { display: block; float: none; margin: auto; width: auto; max-width: 510px; }
}


@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop { display: inherit !important; }
  .visible-desktop { display: none !important; }
  .visible-tablet { display: inherit !important; }
  .hidden-tablet { display: none !important; }
}

@media (max-width: 767px) {
  .hidden-desktop { display: inherit !important; }
  .visible-desktop { display: none !important; }
  .visible-phone { display: inherit !important; }
  .hidden-phone { display: none !important; }
}

@media (max-width: 588px) {

}

@media (max-width: 480px) {

}

@media (max-width: 380px) {

}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: none; }
  #header, .header-action-button, #nav-bar-wrap, #footer, .footer-action-button, .social-wrapper { display: none; }

  /*a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }*/
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}